{% extends "LimitlessKarhabtiBundle::layoutClient.html.twig" %}
{% block title %}
    {{ parent() }}
{% endblock %}
{% block body %}

    <!-- Header 1
 ============================================ -->
    <div class="header-bottom-2 sticky">
        <div class="container">
            <div class="row">
                <!-- Header Bottom -->
                <div class="col-xs-12">
                    <div class="navbar-header">
                        <a href="{{ path('limitless_karhabti_homepage') }}" class="logo navbar-brand"><img id="logo_img"
                                                                                                           src="{{ asset('bundles/limitlesskarhabti/img/logo/color-1.png') }}"
                                                                                                           alt="logo"/></a>
                    </div>
                    <div class="main-menu menu-style-6 mean-menu float-right">
                        <nav>
                            <ul>
                                <li ><a href="{{ path('limitless_karhabti_Client_homepage') }}">home</a>
                                </li>
                                <li><a href="{{ path('client_index') }}">Profil</a></li>
                                <li ><a href="{{ path('client_pack_index') }}">Pack</a></li>
                                <li ><a href="{{ path('client_offre_index') }}">Offre</a></li>
                                <li class="active"><a href="#">Cour/Examen<i class="icofont icofont-simple-down"></i></a>
                                    <ul>
                                        <li><a href="{{ path('client_cours_index') }}">Cour</a></li>
                                        <li><a href="{{ path('client_examens_index') }}">Examen</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ path('client_agence_index') }}">Agences</a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Banner -->
    <div class="page-banner-area overlay overlay-black overlay-70">
        <div class="container">
            <div class="row">
                <div class="page-banner text-center col-xs-12">
                    <h1>Client</h1>

                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        /*Table Style - This is what you want*/
        button {
            background-color: #dec839; /* Green */
            border: 1px solid #dec839;
            color: white;
            padding: 0px 0px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            display: inline-block;
            width: auto;
            line-height: 30px;
        }

    </style>

    <div class="blog-area bg-white pt-90 pb-90">
        <div class="container">
            <!-- Section Title -->
            <div class="row">
                <div class="section-title text-center col-xs-12 mb-45">
                    <h3 class="heading">Liste des Examens</h3>

                    <i class="icofont icofont-traffic-light"></i>
                </div>
            </div>
            <div class="row">
                <style type="text/css">
                    /*Table Style - This is what you want*/
                    button {
                        background-color: #dec839; /* Green */
                        border: 1px solid #dec839;
                        color: white;
                        padding: 0px 0px;
                        text-align: center;
                        text-decoration: none;
                        font-size: 16px;
                        display: inline-block;
                        width: auto;
                        line-height: 30px;
                    }

                </style>


                <div style="width: 100%;" class="col-md-6 col-xs-12 mb-50">

                    {% set i=1 %}
                    <div class="panel-group" id="accordion">
                        {% for examen in examen %}
                            {% if i==1 %}
                                <div class="panel panel-default">

                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" aria-expanded="true"
                                                                   data-parent="#accordion"
                                                                   href="#accordion-{{ i }}">{{ examen.titre }}</a></h4>
                                    </div>
                                    <div id="accordion-{{ i }}" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>C'est un examen de {{ examen.typePermis }}.

                                            </p>
                                            <a style="text-align: right;color: #dec839;" href="{{ path('client_passr_examen') }}">
                                                Passer l'examen
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="panel panel-default">

                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" aria-expanded="false"
                                                                   data-parent="#accordion"
                                                                   href="#accordion-{{ i }}">{{ examen.titre }}</a></h4>
                                    </div>
                                    <div id="accordion-{{ i }}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                C'est un cour de conduite pour les {{ examen.typePermis }}.
                                            </p>
                                            <a style="text-align: right;color: #dec839;" href="{{ path('client_passr_examen') }}">
                                                Passer l'examen
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% set i=i+1 %}
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}