{% extends "LimitlessKarhabtiBundle::layoutMoniteur.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <!-- Header 1
 ============================================ -->
    <div class="header-bottom-2 sticky">
        <div class="container">
            <div class="row">
                <!-- Header Bottom -->
                <div class="col-xs-12">
                    <div class="navbar-header">
                        <a href="{{ path('limitless_karhabti_homepage') }}" class="logo navbar-brand"><img id="logo_img"
                                                                                                           src="{{ asset('bundles/limitlesskarhabti/img/logo/color-1.png') }}"
                                                                                                           alt="logo"/></a>
                    </div>
                    <div class="main-menu menu-style-6 mean-menu float-right">
                        <nav>
                            <ul>
                                <li ><a href="#">home</a></li>
                                <li class="active"><a href="{{ path('moniteur_index') }}">Profil</a></li>
                                <li><a href="#">Planning</a></li>
                                <li><a href="#}">Agences</a></li>
                                <li><a href="#">Mes Avis</a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Banner -->
    <div class="page-banner-area overlay overlay-black overlay-70">
        <div class="container">
            <div class="row">
                <div class="page-banner text-center col-xs-12">
                    <h1>Moniteur</h1>

                </div>
            </div>
        </div>
    </div>

    <div class="blog-area bg-white pt-90 pb-90">
        <div class="container">
            <!-- Section Title -->
            <div class="row">
                <div class="section-title text-center col-xs-12 mb-45">
                    <h3 class="heading">Créer Votre compte</h3>

                    <i class="icofont icofont-traffic-light"></i>
                </div>
            </div>
            <div class="row">
                <!-- Contact Form -->
                <div class="contact-form form text-left col-md-8 col-sm-7 col-xs-12" style="width: 100%">
                    <style type="text/css">
                        button {
                            background-color: #dec839; /* Green */
                            border: 1px solid #dec839;
                            color: white;
                            padding: 0px 0px;
                            text-align: center;
                            text-decoration: none;
                            font-size: 16px;
                            display: inline-block;
                            width: auto;
                            line-height: 30px;
                        }
                    </style>


                    {{ form_start(form) }}

                    <div class="input-2">
                        <div class="input">
                            <h3 class="panel-title">Civilite</h3>
                            {{ form_widget(form.civilite) }}
                        </div>
                        <div class="input">
                            <h3 class="panel-title">Nom</h3>
                            {{ form_widget(form.nom) }}
                        </div>
                        <div class="input">
                            <h3 class="panel-title">Prenom</h3>
                            {{ form_widget(form.prenom) }}
                        </div>
                        <div class="input">
                            <h3 class="panel-title">Date de naissance</h3>
                            {{ form_widget(form.dateNaissance) }}
                        </div>
                        <div class="input">
                            <h3 class="panel-title">Ville de naissance</h3>
                            {{ form_widget(form.lieuNaissance) }}
                        </div>
                        <div class="input">
                            <h3 class="panel-title">Telephone</h3>
                            {{ form_widget(form.telephone) }}
                        </div>
                        <div class="input">
                            <h3 class="panel-title">E-mail</h3>
                            {{ form_widget(form.mail) }}
                        </div>
                        <div class="input">
                            <h3 class="panel-title">Adresse</h3>
                            {{ form_widget(form.adresse) }}
                        </div>
                        <div class="input">
                            <h3 class="panel-title">Ville</h3>
                            {{ form_widget(form.ville) }}
                        </div>
                        <div class="input">
                            <h3 class="panel-title">Code Postal</h3>
                            {{ form_widget(form.codePostal) }}
                        </div>
                        <div class="input">
                            <h3 class="panel-title">Image</h3>
                            {{ form_widget(form.file) }}
                        </div>


                    </div>


                    <div style="text-align: right" class="input input-submit"><input type="submit" value="Valider"/>
                    </div>
                    {{ form_end(form) }}
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}