

{% extends "LimitlessKarhabtiBundle::layoutMoniteur.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/font-awesome/css/font-awesome.min.css') }}"/>
    <!-- Header 1
     ============================================ -->
    <div class="header-bottom-2 sticky">
        <div class="container">
            <div class="row">
                <!-- Header Bottom -->
                <div class="col-xs-12">
                    <div class="navbar-header">
                        <a href="{{ path('limitless_karhabti_homepage') }}" class="logo navbar-brand"><img id="logo_img"
                                                                                                           src="{{ asset('bundles/limitlesskarhabti/img/logo/color-1.png') }}"
                                                                                                           alt="logo"/></a>
                    </div>
                    <div class="main-menu menu-style-6 mean-menu float-right">
                        <nav>
                            <ul>
                                <li ><a href="{{ path('limitless_karhabti_Moniteur_homepage') }}">home</a></li>
                                <li ><a href="{{ path('moniteur_index') }}">Profil</a></li>
                                <li ><a href="{{ path('moniteur_tache_index') }}">Planning</a></li>
                                <li ><a href="{{ path('moniteur_agence_index') }}">Agences</a></li>
                                <li class="active"><a href="{{ path('AffichageAvis') }}">Mes Avis</a></li>
                                <li><a href="{{ path('limitless_karhabti_mail_moniteur') }}">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Banner -->
    <div class="page-banner-area overlay overlay-black overlay-70">
        <div class="container">
            <div class="row">
                <div class="page-banner text-center col-xs-12">
                    <h1>Moniteur</h1>

                </div>
            </div>
        </div>
    </div>

    <div class="blog-area bg-white pt-90 pb-90">
        <div class="container">
            <!-- Section Title -->
            <div class="row">
                <div class="section-title text-center col-xs-12 mb-45">
                    <h3 class="heading">Ajouter une note</h3>

                    <i class="icofont icofont-traffic-light"></i>
                </div>
            </div>
            <div class="row">
                <!-- Contact Form -->
                <div class="contact-form form text-left col-md-8 col-sm-7 col-xs-12" style="width: 100%">
                    <style type="text/css">
                        button {
                            background-color: #dec839; /* Green */
                            border: 1px solid #dec839;
                            color: white;
                            padding: 0px 0px;
                            text-align: center;
                            text-decoration: none;
                            font-size: 16px;
                            display: inline-block;
                            width: auto;
                            line-height: 30px;
                        }
                    </style>
                    <ul>
                        <li style="margin-bottom: 4%"><button ><a class="btn color"   href="{{ path('AffichageAvis') }}">Retour à la liste</a></button></li>
                    </ul>
                    {{ form_start(form) }}

                    <div class="input-2">
                        <div class="input">
                            <h3 class="panel-title">Client</h3>
                            {{ form_widget(form.client) }}
                        </div>
                        <div class="input">
                            <h3 class="panel-title">Contenue</h3>
                            {{ form_widget(form.contenu) }}
                        </div>
                        <div class="input">
                            <h3 class="panel-title">Raiting</h3>
                            {{ form_widget(form.rating) }}
                        </div>


                    </div>


                    <div style="text-align: right" class="input input-submit"><input type="submit" value="Valider"/>
                    </div>
                    {{ form_end(form) }}




                    <p class="form-messege"></p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}