{% extends 'base.html.twig' %}

{% block body %}
    <h1>Taches list</h1>

    <table>
        <thead>
            <tr>
                <th>Client</th>
                <th>Heure_debut</th>
                <th>Heure_fin</th>
                <th>Moniteur</th>
                <th>Vehicule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td><a href="{{ path('reponsable_tache_show', { 'id': tache.id }) }}">{{ tache.client }}</a></td>
                <td>{% if tache.heuredebut %}{{ tache.heuredebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if tache.heurefin %}{{ tache.heurefin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ tache.moniteur }}</td>
                <td>{{ tache.vehicule }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reponsable_tache_show', { 'id': tache.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reponsable_tache_edit', { 'id': tache.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reponsable_tache_new') }}">Create a new tache</a>
        </li>
    </ul>
{% endblock %}
