{% extends "LimitlessKarhabtiBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% set counter = 0 %}
    <!-- Header 1
 ============================================ -->
        <div class="header-bottom-2 sticky">
            <div class="container">
                <div class="row">
                    <!-- Header Bottom -->
                    <div class="col-xs-12">
                        <div class="navbar-header">
                            <a href="{{ path('limitless_karhabti_homepage') }}" class="logo navbar-brand"><img
                                        id="logo_img"
                                        src="{{ asset('bundles/limitlesskarhabti/img/logo/color-1.png') }}" alt="logo"/></a>
                        </div>
                        <div class="main-menu menu-style-6 mean-menu float-right">
                            <nav>
                                <ul>
                                    <li><a href="{{ path('limitless_karhabti_homepage') }}">home</a></li>
                                    <li ><a href="{{ path('agence_index') }}">Profil</a></li>
                                    <li class="active"><a href="#">Offre/Pack<i class="icofont icofont-simple-down"></i></a>
                                        <ul>
                                            <li><a href="{{ path('responsable_offre_index') }}">Offre</a></li>
                                            <li><a href="{{ path('limitless_karhabti_responsable_reservationoffre') }}">Réservation Offre</a></li>
                                            <li><a href="{{ path('responsable_pack_index') }}">Pack</a></li>
                                            <li><a href="{{ path('limitless_karhabti_responsable_reservationpack') }}">Réservation Pack</a></li>
                                        </ul>
                                    </li>
                                    <li ><a href="{{ path('responsable_vehicule_index') }}">Vehicule</a></li>
                                    <li ><a href="{{ path('moniteur_reponsable_index') }}">Moniteur</a></li>
                                    <li><a href="{{ path('reponsable_tache_index') }}">Planning</a></li>
                                    <li><a href="#">Cour/Examen<i class="icofont icofont-simple-down"></i></a>
                                        <ul>
                                            <li ><a href="{{ path('responsable_cours_List') }}">Cour</a></li>
                                            <li ><a href="{{ path('responsable_examen_Liste') }}">Examen</a></li>
                                        </ul>
                                    </li>
                                    <li ><a href="{{ path('limitless_karhabti_mail') }}">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner -->
    <div class="page-banner-area overlay overlay-black overlay-70">
        <div class="container">
            <div class="row">
                <div class="page-banner text-center col-xs-12">
                    <h1>responsable auto école</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="blog-area bg-white pt-90 pb-90">
        <div class="container">
            <!-- Section Title -->
            <div class="row">
                <div class="section-title text-center col-xs-12 mb-45">
                    <h3 class="heading">Liste des Offres</h3>
                    <div class="excerpt">
                    </div>
                    <i class="icofont icofont-traffic-light"></i>
                </div>
            </div>
            <div class="row">
                <style type="text/css">
                    /*Table Style - This is what you want*/
                    button {
                        background-color: #dec839; /* Green */
                        border: 1px solid #dec839;
                        color: white;
                        padding: 0px 0px;
                        text-align: center;
                        text-decoration: none;
                        font-size: 16px;
                        display: inline-block;
                        width: auto;
                        line-height: 30px;
                    }

                </style>

                <ul>
                    <li style="text-align: center">
                        <button><a class="btn color " href="{{ path('responsable_offre_new') }}">Ajouter une nouvelle
                                Offre</a></button>
                    </li>
                </ul>
                <form method="POST" style="padding-bottom: 2%;padding-top: 2%;padding-left: 1.7%">
                    <h3>Rechercher : <input placeholder="Prix Unitaire Code" type="text" name="prixu">
                        <input type="submit" value="Recherche"></h3>
                </form>
                {% for modele in modeles %}

                    {% set counter =counter + 1 %}
                    <div id="offre">

                        <div class="col-md-4">
                            <div class="thumbnail" align="center" style="background-color: #f9ecec">
                                <img src="{{ asset('bundles/limitlesskarhabti/images/offre/offre.png') }}">
                                <h1 style="color: #efe24b"><a style="text-transform: uppercase;"
                                                              href="{{ path('responsable_offre_show', { 'id': modele.id }) }}">
                                        <b>{{ modele.nom }}</b></a><br></h1>
                                <label>Prix unitaire code : </label>{{ modele.prixUcode }} <br>
                                <label>Prix unitaire conduite : </label> {{ modele.prixUconduite }} <br>
                                <label>Description : </label> {{ modele.description }}<br>
                                <label>Nom de moniteur : </label> {{ modele.moniteur }}<br>
                                <label>Modele de vehicule : </label> {{ modele.vehicule }}<br> <br>
                                <button style="margin-bottom: 2%;margin-top: 2%">


                                    <a class="btn color " href="{{ path('responsable_offre_show',{'id':modele.id}) }}">Voir
                                        l'offre en details</a>
                                </button>


                            </div>
                        </div>
                    </div>


                {% endfor %}

            </div>

            <h2 align="center" style="color: #C82829">{{ counter }} Offre(s) trouvée(s) </h2>

        </div>
    </div>
{% endblock %}
