

        {% extends "LimitlessKarhabtiBundle::layoutMoniteur.html.twig" %}
        {% block title %}
            {{ parent() }}
        {% endblock %}
        {% block body%}
            <!-- Header 1
         ============================================ -->
                <div class="header-bottom-2 sticky">
                    <div class="container">
                        <div class="row">
                            <!-- Header Bottom -->
                            <div class="col-xs-12">
                                <div class="navbar-header">
                                    <a href="{{ path('limitless_karhabti_Moniteur_homepage') }}" class="logo navbar-brand"><img id="logo_img" src="{{ asset('bundles/limitlesskarhabti/img/logo/color-1.png')}}" alt="logo" /></a>
                                </div>
                                <div class="main-menu menu-style-6 mean-menu float-right">
                                    <nav>
                                        <ul>
                                            <li ><a href="{{ path('limitless_karhabti_Moniteur_homepage') }}">home</a></li>
                                            <li ><a href="{{ path('moniteur_index') }}">Profil</a></li>
                                            <li ><a href="{{ path('moniteur_tache_index') }}">Planning</a></li>
                                            <li ><a href="{{ path('moniteur_agence_index') }}">Agences</a></li>
                                            <li ><a href="{{ path('AffichageAvis') }}">Mes Avis</a></li>
                                            <li class="active"><a href="{{ path('limitless_karhabti_mail_moniteur') }}">contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="mobile-menu"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner -->
            <div class="page-banner-area overlay overlay-black overlay-70">
                <div class="container">
                    <div class="row">
                        <div class="page-banner text-center col-xs-12">
                            <h1>Moniteur</h1>

                        </div>
                    </div>
                </div>
            </div>

            <div class="blog-area bg-white pt-90 pb-90">
                <div class="container">
                    <!-- Section Title -->
                    <div class="row">
                        <div class="section-title text-center col-xs-12 mb-45">
                            <h3 class="heading">Contactez nous par email</h3>

                            <i class="icofont icofont-traffic-light"></i>

                        </div>

                    </div>
                    <div class="row">
                        <!-- Contact Form -->
                        <div class="contact-form form text-left col-md-8 col-sm-7 col-xs-12"style="width: 100%">
                            {{ form_start(form) }}


                            <div class="input-2">
                                <div class="input">
                                    {{ form_widget(form.nom,{'attr':{'placeholder':'User name'}}) }}
                                </div>
                                <div class="input">
                                    {{ form_widget(form.email,{'attr':{'placeholder':'Email'}}) }}
                                </div>
                                <div class="input">
                                    {{ form_widget(form.text,{'attr':{'placeholder':'Message'}}) }}
                                </div>


                            </div>



                            <div style="text-align: right" class="input input-submit"><input type="submit" value="Envoyer" /></div>


                            {{ form_end(form) }}
                            <p class="form-messege"></p>
                        </div>
                    </div>

                </div>
            </div>
        {% endblock %}