
        {% extends "LimitlessKarhabtiBundle::layout.html.twig" %}
        {% block title %}
            {{ parent() }}
        {% endblock %}
        {% block body%}
            <!-- Header 1
         ============================================ -->
                <div class="header-bottom-2 sticky">
                    <div class="container">
                        <div class="row">
                            <!-- Header Bottom -->
                            <div class="col-xs-12">
                                <div class="navbar-header">
                                    <a href="{{ path('limitless_karhabti_homepage') }}" class="logo navbar-brand"><img id="logo_img" src="{{ asset('bundles/limitlesskarhabti/img/logo/color-1.png')}}" alt="logo" /></a>
                                </div>
                                <div class="main-menu menu-style-6 mean-menu float-right">
                                    <nav>
                                        <ul>
                                            <li><a href="{{ path('limitless_karhabti_homepage') }}">home</a></li>
                                            <li ><a href="{{ path('agence_index') }}">Profil</a></li>
                                            <li><a href="#">Offre/Pack<i class="icofont icofont-simple-down"></i></a>
                                                <ul>
                                                    <li><a href="{{ path('responsable_offre_index') }}">Offre</a></li>
                                                    <li><a href="{{ path('limitless_karhabti_responsable_reservationoffre') }}">Réservation Offre</a></li>
                                                    <li><a href="{{ path('responsable_pack_index') }}">Pack</a></li>
                                                    <li><a href="{{ path('limitless_karhabti_responsable_reservationpack') }}">Réservation Pack</a></li>
                                                </ul>
                                            </li>
                                            <li ><a href="{{ path('responsable_vehicule_index') }}">Vehicule</a>
                                            </li>
                                            <li><a href="{{ path('moniteur_reponsable_index') }}">Moniteur</a></li>
                                            <li><a href="{{ path('reponsable_tache_index') }}">Planning</a></li>
                                            <li><a href="#">Cour/Examen<i class="icofont icofont-simple-down"></i></a>
                                                <ul>
                                                    <li ><a href="{{ path('responsable_cours_List') }}">Cour</a></li>
                                                    <li ><a href="{{ path('responsable_examen_Liste') }}">Examen</a></li>
                                                </ul>
                                            </li>
                                            <li class="active"><a href="{{ path('limitless_karhabti_mail') }}">contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="mobile-menu"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner -->
            <div class="page-banner-area overlay overlay-black overlay-70">
                <div class="container">
                    <div class="row">
                        <div class="page-banner text-center col-xs-12">
                            <h1>Responsable Auto école</h1>

                        </div>
                    </div>
                </div>
            </div>

            <div class="blog-area bg-white pt-90 pb-90">
                <div class="container">
                    <!-- Section Title -->
                    <div class="row">
                        <div class="section-title text-center col-xs-12 mb-45">
                            <h3 class="heading">Success contact formulaire</h3>

                            <i class="icofont icofont-traffic-light"></i>

                        </div>

                    </div>
                    <div class="row">
                        <!-- Contact Form -->
                        <div class="contact-form form text-left col-md-8 col-sm-7 col-xs-12"style="width: 100%">

                            <h2 style="text-align: center;color: brown" class="first-city">Votre email a été envoyé avec succés,
                                L'admin se chargera de vous répondre le plus proche possible...</h2>

                        </div>
                    </div>

                </div>
            </div>
        {% endblock %}