{% extends "LimitlessKarhabtiBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }}
{% endblock %}
{% block body%}
    <!-- Header 1
 ============================================ -->
    <div class="header-area header-absolute header-transparent">
        <div class="header-bottom-2 sticky">
            <div class="container">
                <div class="row">
                    <!-- Header Bottom -->
                    <div class="col-xs-12">
                        <div class="navbar-header">
                            <a href="{{ path('limitless_karhabti_homepage') }}" class="logo navbar-brand"><img id="logo_img" src="{{ asset('bundles/limitlesskarhabti/img/logo/color-1.png')}}" alt="logo" /></a>
                        </div>
                        <div class="main-menu menu-style-6 mean-menu float-right">
                            <nav>
                                <ul>
                                    <li ><a href="{{ path('limitless_karhabti_homepage') }}">home</a></li>
                                    <li><a href="#">Profil</a></li>
                                    <li><a href="#">Offre/Pack<i class="icofont icofont-simple-down"></i></a>
                                        <ul>
                                            <li><a href="{{ path('responsable_offre_index') }}">Offre</a></li>
                                            <li><a href="{{ path('responsable_pack_index') }}">Pack</a></li>
                                        </ul>
                                    </li>
                                    <li class="active"><a href="{{ path('responsable_vehicule_index') }}">Vehicule</a></li>
                                    <li><a href="#">Moniteur</a></li>
                                    <li><a href="{{ path('reponsable_tache_index') }}">Planning</a></li>
                                    <li><a href="#">Cour/Examen<i class="icofont icofont-simple-down"></i></a>
                                        <ul>
                                            <li><a href="{{ path('responsable_cours_List') }}">Cour</a></li>
                                            <li><a href="{{ path('responsable_examen_Liste') }}">Examen</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ path('limitless_karhabti_mail') }}">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner -->
    <div class="page-banner-area overlay overlay-black overlay-70">
        <div class="container">
            <div class="row">
                <div class="page-banner text-center col-xs-12">
                    <h1>Responsable Auto école</h1>

                </div>
            </div>
        </div>
    </div>



    <!-- Gallery Area
============================================ -->
    <style type="text/css">
        button {
            background-color: #dec839; /* Green */
            border: 1px solid #dec839;
            color: white;
            padding: 0px 0px;
            text-decoration: none;
            font-size: 16px;
            display: inline-block;
            width: auto;
            line-height: 30px;
        }
    </style>

    <div style="padding-top: 5%;" class="blog-area bg-white pt-90 pb-90">


        <div class="container">
            <!-- Gallery Grid -->


            <div class="row">
                <div class="blog-wrapper float-right col-md-8 col-xs-12">

                    <div style="padding-top: 10%;" class="single-blog">

                        <h4 class="blog-title">{{ vehicule.modele }}, {{ vehicule.marque }}</h4>
                        <div class="blog-meta fix">
                            <p class="float-left">{{ vehicule.matricule }}</p>
                            <p class="float-right">
                                <button><a class="btn color" href="{{ path('responsable_vehicule_edit', { 'id': vehicule.id }) }}">Modifier</a></button>
                                <button><a class="btn color" href="{{ path('responsable_vehicule_deleteid',{id:vehicule.id}) }}">Supprimer</a></button>
                            </p>
                        </div>
                        <div class="blog-description">
                            <p>Cette vehicule est un(e) {{ vehicule.typeV }}. Elle est de modele {{ vehicule.modele }}.<br>
                                Sa date d'expiration de la vignette :</p>
                            <blockquote>
                                <ul>
                                    <li>{% if vehicule.dateexpirationassurance %}{{ vehicule.dateexpirationassurance|date('Y-m-d') }}{% endif %}</li>
                                </ul>
                            </blockquote>
                            <p>Sa date d'expiration de l'assurance :</p>
                            <blockquote>
                                <ul>
                                    <li>{% if vehicule.dateExpirationVignette %}{{ vehicule.dateExpirationVignette|date('Y-m-d') }}{% endif %}</li>
                                </ul>
                            </blockquote>
                            <p>Sa date d'expiration de la visite technique :</p>
                            <blockquote>
                                <ul>
                                    <li>{% if vehicule.dateExpirationVisite %}{{ vehicule.dateExpirationVisite|date('Y-m-d') }}{% endif %}</li>
                                </ul>
                            </blockquote>
                        </div>
                    </div>

                </div>
                <div class="sidebar col-md-4 col-xs-12">

                    <div class="blog-image" >
                        <ul>
                            <li style="text-align: left">
                                <button><a  class="btn color "  href="{{ path('responsable_vehicule_index') }}">Retour à la Liste</a></button>
                            </li>
                        </ul>
                        <img   src="{{ asset('bundles/limitlesskarhabti/Image/Vehicule/'~vehicule.matricule~'/'~vehicule.matricule~'.jpg') }}" alt="" />
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}