<strong>Recherche par prix_total</strong><br><br>


<form method="POST">
    Rechercher : <input type="text" name="prixtotal">
    <input type="submit" value="recherche">
</form>




<table border="1">

    <th>nom</th>
    <th>nbr_heure_code </th>
    <th>nbr_heure_conduite</th>
    <th>prixUcode</th>
    <th>prixUconduite</th>
    <th>prixtotal</th>
    <th>description</th>
    <th>promotion %</th>
    <th>agence</th>
    <th>supprimer</th>
    <th>modifier</th>
    <th>partager pack sur : </th>

    {% for modele in modeles %}
        <tr>
            <td>{{ modele.nom }}</td>
            <td>{{ modele.nbrHeureCode }}</td>
            <td>{{ modele.nbrHeureConduite }}</td>
            <td>{{ modele.prixUcode }}</td>
            <td>{{ modele.prixUconduite }}</td>
            <td>{{ modele.prixtotal }}</td>
            <td>{{ modele.description }}</td>
            <td>{{ modele.promotion }}</td>
            <td>{{ modele.agence.nom }}</td>



            <td><a href="{{ path('pack_delete',{'id':modele.id}) }}">Supprimer</a></td>

            <td><a href="{{ path('pack_update',{'id':modele.id}) }}">modifier</a></td>







        </tr>
    {% endfor %}
</table>